@model IEnumerable<MyApp.Models.User>
@{
    ViewData["Title"] = "Accounts";
}

<div class="row col-12">
    <div class="page-header">
        <h4>@ViewData["Title"]</h4>
        <a href="/Account/Register" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Registrar Novo</a>
    </div>

    <div class="well well-lg">
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Usuário</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <thead>
                @foreach(var u in @Model) {
                    <tr>
                        <td>@u.id</td>
                        <td>@u.fullname</td>
                        <td>@u.username</td>
                        <td class="btn-group btn-group-sm" role="group">
                            <a class="btn btn-info" href="/Account/Detail/@u.id"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <!--<a class="btn btn-primary" href="/Account/Edit/@u.id"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a>-->
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>