@{
    ViewData["Title"] = "Contact";
}
<div class="page-header">   
    <h2>@ViewData["Title"].</h2>
    <h2><small>@ViewData["Message"]</small></h2>
</div>

<address>
    <strong>Contact us:</strong> <a href="mailto:hello@myapp.io">hello@myapp.io</a><br />
    <strong>Marketing:</strong> <a href="mailto:hello@myapp.io">marketing@myapp.io</a>
</address>
